h2 {
  color: red;
  text-align: center;
  font-size: 45px;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro {
  width: 50%;
  font-style: italic;
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.italic {
  font-weight: bold;
}

.body {
  font-family: sans-serif;
}
